<!DOCTYPE html>
<html lang="vi">

<head>
  <%-include('partials/V_Meta')%>
  <%-include('partials/V_Css')%>
</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <%-include('partials/V_Sidebar')%>
      <%-include('partials/V_Header')%>
      <div class="right_col" role="main">
        <%-include(V_Main)%>
      </div>
      <%-include('partials/V_Footer')%>
    </div>
  </div>
  <%-include('partials/V_Scripts')%>
</body>

</html>